<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <title>BPRD | INFOWISE RK311 Reporting</title>
  </head>
  <body>
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px; /* The height is 400 pixels */
        width: 100%; /* The width is the width of the web page */
      }
    </style>
    <div class="container">
      <div class="jumbotron">
        <div class="d-flex justify-content-md-between">
          <img
            style="height: 100px; width: auto;"
            src="https://www.sih.gov.in/img1/SMART-INDIA-HACKATHON-2020.png"
            height="100"
          />
          <img
            src="https://upload.wikimedia.org/wikipedia/en/c/c6/Bureau_of_Police_Research_and_Development_Logo.png"
            height="100"
            width="100"
          />
        </div>
        <h1 class="display-4"></h1>
        <center>
          <b>IP Address</ADDREss></b>
          <h1><%= ip %></h1>
          <p><%= sig %></p>
        </center>

        <p>
          <center>This report was generated using <b>Team Infowise's VPN/Proxy Detector</b> at <u><%= timestamp %></u></center>
        </p>
        <p style="font-family:cursive">
          <h1>Risk Score</h1>
        </p>
        <div class="d-flex">
            <h2>
               <%= value %>%
            </h2>
            
        </div>
      

        <div class="progress">
            <div class="progress-bar  <% color %>" role="progressbar" style="width: <%= value %>%" aria-valuenow="<%= value %>" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <div id="map"></div>
        <br>
        <b>Analysis</b>
        <p>
            <%= analysis %>
        </p>

        <b>Individual Inspection Criteria Logs</b>
        <p>Scores of the individual inspection criterias across all modules</p>
        <br/>


           <%- AIReport %>
            



         
    
        <br>
      

               
        <hr class="my-4" />
        <%- contact %>
        
      </div>
    </div>
  </body>
  <script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      var uluru = { lat: <%= lat %>, lng: <%= lng %> };
      // The map, centered at Uluru
      var map = new google.maps.Map(document.getElementById("map"), {
        zoom: 11,
        center: uluru,
      });
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({ position: uluru, map: map });
    }
    
  </script>
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>
  <script
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDRJIw8Yx_TfaA4NWSnDOD75P7UPLu6j-U&callback=initMap"
></script>
</html>
